@import "tailwindcss";

@layer base {
  body {
    @apply bg-gradient-to-br from-pink-200 via-red-200 to-pink-300 min-h-screen overflow-hidden text-gray-800;
  }
}

.font-pacifico {
  font-family: var(--font-pacifico), cursive;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}